Requirement already satisfied: fastapi[standard] in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (0.115.0)
Requirement already satisfied: starlette<0.39.0,>=0.37.2 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (0.38.6)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (2.9.2)
Requirement already satisfied: typing-extensions>=4.8.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (4.12.2)
Requirement already satisfied: fastapi-cli>=0.0.5 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (0.0.5)
Requirement already satisfied: httpx>=0.23.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (0.27.2)
Requirement already satisfied: jinja2>=2.11.2 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (3.1.4)
Requirement already satisfied: python-multipart>=0.0.7 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (0.0.12)
Requirement already satisfied: email-validator>=2.0.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi[standard]) (2.2.0)
Requirement already satisfied: uvicorn>=0.12.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (0.31.0)
Requirement already satisfied: dnspython>=2.0.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from email-validator>=2.0.0->fastapi[standard]) (2.6.1)
Requirement already satisfied: idna>=2.0.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from email-validator>=2.0.0->fastapi[standard]) (3.10)
Requirement already satisfied: typer>=0.12.3 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (0.12.5)
Requirement already satisfied: anyio in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from httpx>=0.23.0->fastapi[standard]) (4.6.0)
Requirement already satisfied: certifi in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from httpx>=0.23.0->fastapi[standard]) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from httpx>=0.23.0->fastapi[standard]) (1.0.6)
Requirement already satisfied: sniffio in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from httpx>=0.23.0->fastapi[standard]) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from httpcore==1.*->httpx>=0.23.0->fastapi[standard]) (0.14.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from jinja2>=2.11.2->fastapi[standard]) (2.1.5)
Requirement already satisfied: annotated-types>=0.6.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi[standard]) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0,>=1.7.4->fastapi[standard]) (2.23.4)
Requirement already satisfied: click>=7.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn>=0.12.0->uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (8.1.7)
Requirement already satisfied: httptools>=0.5.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (0.6.1)
Requirement already satisfied: python-dotenv>=0.13 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (1.0.1)
Requirement already satisfied: pyyaml>=5.1 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (6.0.2)
Requirement already satisfied: uvloop!=0.15.0,!=0.15.1,>=0.14.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (0.20.0)
Requirement already satisfied: watchfiles>=0.13 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (0.24.0)
Requirement already satisfied: websockets>=10.4 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from uvicorn[standard]>=0.12.0; extra == "standard"->fastapi[standard]) (13.1)
Requirement already satisfied: exceptiongroup>=1.0.2 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from anyio->httpx>=0.23.0->fastapi[standard]) (1.2.2)
Requirement already satisfied: shellingham>=1.3.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from typer>=0.12.3->fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from typer>=0.12.3->fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (13.9.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /home/eddy/Documents/LMSAPI/lms/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer>=0.12.3->fastapi-cli>=0.0.5->fastapi-cli[standard]>=0.0.5; extra == "standard"->fastapi[standard]) (0.1.2)
